<%= form_for @user, :html => {:class => 'form-horizontal'} do |f| %>
	<% if @user.errors.any? %>
	    <div id="error_explanation">
	      <h4 class="text-error"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

	      <ul class="text-error">
	      <% @user.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	<div class="control-group">
	    <label class="control-label" for="inputName">Name</label>
	    <div class="controls">
	    	<%= f.text_field :name, placeholder: 'Name', type: 'text', id: 'inputName' %>
	    </div>
	</div>
	<div class="control-group">
	    <label class="control-label" for="inputMail">E-mail</label>
	    <div class="controls">
	    	<%= f.text_field :email, placeholder: 'test@example.com', type: 'email', id: 'inputMail' %>
	    </div>
	</div>
	<div class="control-group">
	    <label class="control-label" for="inputPass">Password</label>
	    <div class="controls">
	    	<%= f.password_field :password, placeholder: 'Password', type: 'password', id: 'inputPass' %>
	    </div>
	</div>
	<div class="control-group">
	    <label class="control-label" for="confirmPass">Confirm</label>
	    <div class="controls">
	    	<%= f.password_field :password_confirmation, placeholder: 'Confirm', type: 'password', id: 'confirmPass' %>
	    </div>
	</div>
	<div class="control-group">
		<div class="controls">
			<%= f.submit :class => 'btn btn-primary', value: 'Register' %>
  			<%= link_to 'Cancel', :users, :class => 'btn', :id => 'cancelButton' %>
		</div>
	</div>
<% end %>