<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
ID: <%= @user.id %><br/>
Name: <%= @user.name %><br/>
Mail: <%= @user.email %><br/>
Password: <%= @user.password %><br/><br/>

<%= link_to "All users", :users %>