<div class="row">
	<% @users.each do |user| %>
	<div class="span3 well">
		<p>ID: <%= user.id %></p>
		<p>Name: <%= user.name %></p>
		<p>Mail: <%= user.email %></p>
		<p>Password: <%= user.password %></p>
		<p><%= link_to "Show", :controller => :users, :id => user.id, :action => :show %></p>
		<p><%= link_to 'Delete', {controller: :users, id: user.id, action: :delete}, method: :delete, data: { confirm: "Are you sure to delete user #{user.name}?" } %></p>
	</div>
	<% end %>
</div>

<br/><%= link_to 'Add', :users_add %>