<% @news.each do |announce| %>
	<% next if cannot? :read, announce %>
	<h4><%= announce.title %></h4>
	<div class="well">
        <div>
            <%= announce.body %>
        </div>
    	<span class="badge badge-info pull-right">
            Posted by: <%= announce.user.name %> <br>
        	For group: <%= announce.role %> <br>
        	At: <%= announce.created_at.localtime %>
        </span>
        <div class="clearfix"></div>
    </div>
<% end %>
