<%= link_to 'Add', :news_add, class: 'btn btn-success' if can? :create, Announce %>
<% @news.each do |announce| %>
	<% next if cannot? :read, announce %>
	<h4>Title: <%= announce.title %></h4>
	<p><b>Body:</b> <%= announce.body %></p>
	Posted by: <%= announce.user.name %> <br>
	For group: <%= announce.role %> <br>
	At: <%= announce.created_at.localtime %>
<% end %>

<div id='galleryModal' class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="modalHeader">Modal header</h3>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
        	Modal body
        </dl>
    </div>
    <div class="modal-footer">
        <button class='btn' data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>