<%= form_for @media, url: :gallery, :html => {:class => 'form-horizontal'} do |f| %>
	<% if @media.errors.any? %>
	    <div id="error_explanation">
	    	<h4 class="text-error"><%= pluralize(@media.errors.count, "error") %> prohibited this media from being saved:</h4>
	      	<ul class="text-error">
	      		<% @media.errors.full_messages.each do |msg| %>
	        		<li><%= msg %></li>
	      		<% end %>
	    	</ul>
	    </div>
	<% end %>
	<div class="control-group">
	    <label class="control-label" for="inputTitle">Title</label>
	    <div class="controls">
	    	<%= f.text_field :name, placeholder: 'Title', type: 'text', id: 'inputTitle' %>
	    </div>
	</div>
	<div class="control-group">
	    <label class="control-label" for="inputDesc">Announce</label>
	    <div class="controls">
	    	<%= f.text_area :description, placeholder: 'Description text', id: 'inputDesc', rows: 10, class: 'input-xxlarge' %>
	    </div>
	</div>
	<div class="control-group">
	    <label class="control-label" for="selectType">Content type</label>
	    <div class="controls">
	    	<%= f.select :mediatype_id, @types, id: 'selectType' %>
	    </div>
	</div>

	<div class="control-group">
	    <label class="control-label" for="inputData">Link to media</label>
	    <div class="controls">
	    	<%= f.text_field :data, placeholder: 'Link', type: 'text', id: 'inputData', class: 'span5' %>
	    </div>
	</div>

	<div class="control-group">
		<label for="imagePrev" class="control-label">Preview</label>
		<div class="controls">
			<div id="imagePrev" class="span5">
				<div class="thumbnail hidden" id="imageContainer">
			    	<img src='' alt="loading...">
			    </div>
			    <div class="thumbnail hidden" id="videoContainer">
			    	<iframe width="560" height="315" frameborder="0" allowfullscreen src=""></iframe>
			    </div>
			    <div class='alert' id='noImageAlert'>Invalid media url</div>
			</div>
		</div>
	</div>
	
	<div class="control-group">
		<div class="controls">
			<%= f.submit :class => 'btn btn-primary disabled', value: 'Save', id: 'saveMediaButton' %>
  			<%= link_to 'Cancel', :gallery, :class => 'btn', :id => 'cancelButton' %>
		</div>
	</div>
<% end %>